.App {
  text-align: center;
  background-image: url("/public/images/cork_board.jpg");
  background-size: 100%;
  border: solid burlywood 10px;
  
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.picBoard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.active{
  width: 200px;

  margin: auto;
}
.inactive{
  width: 200px;
  margin: auto;
}