

.App {
  text-align: center;
  background-image: url("/public/images/cork_board.jpg");
  background-size: 100%;
  border: 20px solid transparent;
  padding: 15px 15px 30% 15px;
  margin: 30px;
  border-image: url("/public/images/wood_border.jpg") 80 30 30 30 round stretch;
  box-shadow: inset 4px 4px 20px 1px black;
  font-family: 'Mansalva', sans-serif;
}


.App-header {
  background-color: rgb(255, 204, 0);
  padding: .25em;
  color: black;
  margin-bottom: 1em;
  text-align: center;
  rotate: 25 degrees;
  width: 200px;
  transform: rotate(-20deg);
  box-shadow: 6px 4px 15px 2px black;;
}

.App-title {
  font-size: 3em;
}

.picBoard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.active{
  width: auto;
  margin: auto;
}
.inactive{
  width: 200px;
  margin: auto;
}